// Variables
$color-primary:#14BDAC;
// $color-primary:#57407B;
$color-body:#F2EBD3;
$color-whitePaint:#545454;
$bgcolor-grid:#14BDAC;
$color-gamecell:#0DA192;
$win-color:#f37070;
//CONTAINER
$container-margin:0.5vh 50% 0.5vh 50%;
$container-padding:0.5vh 0.5vh 0.5vh 0.5vh;
// STATUS - NEW BUTTON/TIME
$new-button-padding: 0px 10px;
$status-action-border-radius: 10px;
$status-fSize:1.30rem;
// GRID
$grid-width: 104rem;
$grid-gap:1rem;
$grid-padding: 1rem;
//GAME CELL
$game-cell-width:5.5rem;
$game-cell-height:5.5rem;
$game-cell-borderRadius:0.625rem;
$numFont-Size:3.5rem;
//PAUSE BUTTON
$pause-font-size:1.5rem;
$play-button-size: 5rem;